<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator</title>
    <script type="text/javascript">
      <!--
      // Add new question and answer forms on demand
      // Basic approach borrowed from
      //   http://www.quirksmode.org/dom/domform.html
      // but significantly enhanced with document rewriting, 
      // Ruby integration, etc.
      //var questionCounter = <%= @numquestions %>;
      var questionCounter = 0;
      var answerCounters = [];
      // array is zero-indexed, but our questions are one-indexed
      for (var i=0; i <= questionCounter; i++) {
        answerCounters[i] = <%= @numanswers %>;
      }

      function moreAnswers(question) {
        answerCounters[question]++;
        answer = answerCounters[question];
        var newAnswers = document.getElementById('answerbase').cloneNode(true);
        var newAnswerTarget = document.getElementById("rr" + question);

        newAnswers.id = "div" + "q" + question + "a" + answer;
        newAnswers.style.display = 'block';

        var newAnswer = newAnswers.childNodes;
        for (var i=0; i < newAnswer.length; i++) {
          var theName = newAnswer[i].name;
          var theId = newAnswer[i].id;
          if (theName) {
            newAnswer[i].name = theName + question + "a" + answer;
          }
          if (theId) {
            if (theId == "qqq") {
              var anum = "Q " + question + ", Answer " + answer + ": ";
              newAnswer[i].innerHTML = anum;
              newAnswer[i].id = theId + question + "a" + answer;
            }
          }
        }
        var insertHere = document.getElementById("rr" + question);
        insertHere.parentNode.insertBefore(newAnswers,insertHere);
        newAnswerTarget.parentNode.insertBefore(newAnswers,newAnswerTarget);
      }

      function moreQuestions() {
        questionCounter++;
        answerCounters[questionCounter] = 0;
        var newQuestions = document.getElementById('questionbase').cloneNode(true);
        var newAnswerTarget;

        newQuestions.id = "div" + questionCounter;
        newQuestions.style.display = 'block';
        var newQuestion = newQuestions.childNodes;
        for (var i=0;i<newQuestion.length;i++) {
          var theName = newQuestion[i].name;
          var theId = newQuestion[i].id;
          if (theName) {
            newQuestion[i].name = theName + questionCounter;
          }
          if (theId) {
            if (theId == "qq") {
              var qnum = "Question " + questionCounter + ": ";
              newQuestion[i].innerHTML = qnum;
              newQuestion[i].id = theId + questionCounter;
            }
            if (theId == "rr") {
              newQuestion[i].id = theId + questionCounter;
              newAnswerTarget = newQuestion[i];
            }
            if (theId == "ss") {
              newQuestion[i].id = theId + questionCounter;
              newQuestion[i].innerHTML = "<input type=\"button\" value=\"Add an answer\" onclick=\"moreAnswers(" + questionCounter + ")\" />";
            }
          }
        }
        var insertHere = document.getElementById('newquestions');
        insertHere.parentNode.insertBefore(newQuestions,insertHere);
        for (var i=0 ; i< <%= @numanswers %> ; i++) {
          moreAnswers(questionCounter);
        }
      }

      function initialQuestions() {
        for (var i=0 ; i< <%= @numquestions %> ; i++) {
          moreQuestions();
        }
        var addQuestionsButton = document.getElementById('moreQuestionsButton');
        addQuestionsButton.style.display = 'block';
      }

      // -->
    </script>
  </head>
  <body onload="initialQuestions();">
    <!-- template for question -->
    <div id="questionbase" style="display: none">
      <span id="qq">---</span>
      <input type="text" name="q" size="40" /><br>
      <span id="rr"></span>
      <span id="ss"></span>
    </div>
    <!-- template for answers -->
    <div id="answerbase" style="display: none">
        <span id="qqq">---</span>
        <input type="text" name="q" size="40" /><br>
    </div>
    <!-- actual form -->
    <form method="POST" action="/finalize">
      <p>Poll Topic:
        <input type="text" name="topic" size="40" />
      </p>
      <noscript>
        <% 1.upto(@numquestions) { |i|  %>
          <p>Question <%= i %>:
            <input type="text" name="q<%= i %>" size="40" /><br>
            <% 1.upto(@numanswers) { |j|  %>
              Q<%= i %>, Answer <%= j %>
              <input type="text" name="q<%= i %>a<%= j %>" size="40" /><br>
            <% } %>
          </p>
        <% } %>
      </noscript>
      <span id="newquestions"></span>
      <input type="button" id="moreQuestionsButton" value="Add a question" onclick="moreQuestions()" style="display: none" />
      <input type="submit" value="Submit" />
    </form>
    <span id="debugout"></span>
  </body>
</html>
