<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator</title>
    <link rel="stylesheet" type="text/css" href="/obscure-audio.css" />
  </head>
  <body>
    <div id="content">
      <div id="sidebar">
        <div id="logo">
        </div>
        <div id="inputs">
          <form method="GET" action="/poll">
          <label>Enter your poll ID <br /> to take a poll:</label>
          <input type="text" name="poll">
          <input type="submit" class="subbtn">
          </form>
          <br />
          <form method="GET" action="/results">
          <label>Enter your poll ID <br /> view poll results:</label>
          <input type="text" name="poll">
          <input type="submit" class="subbtn">
          </form>
        </div>
      </div>
      <div id="main">
        <div id="mainh">
          <p>Create and share your own polls for free</p>
          <div id="createtab">
            <p>Poll results</p>
          </div>
        </div>
        <div id="mainc">
          <div id="showresults" class="rc" style="background-color:<%= @pollhash["colorb"] %>; color:<%= @pollhash["colort"] %>; border-color:<%= @pollhash["colord"] %>">
            <h1><%= @pollhash["topic"] %></h1>
            <ol>
          <% i = 1 %>
          <% qstr = "q" + i.to_s %>
          <% while @pollhash[qstr] %>
            <li><%= @pollhash[qstr] %>
            <% j = 1 %>
            <% astr = qstr + "a" + j.to_s %>
            <ul>
              <% while @pollhash[astr] %>
                <% pct = ((@resultshash[astr].to_i * 100) / @totalshash[qstr].to_i).to_s + "%" %>
                <li><%= @pollhash[astr] %>: <%= @resultshash[astr] %> (<%= pct %>) <div id="resultbox" style="border-color:<%= @pollhash["colord"] %>; solid:<%= @pollhash["colord"] %>;"><div id="resultbar" style="width:<%= pct %>; background:<%= @pollhash["colort"] %>; color:<%= @pollhash["colorb"] %>;"><%= pct %></div></div></li>
                <% j += 1 %>
                <% astr = qstr + "a" + j.to_s %>
              <% end %>
            </ul>
            <% i += 1 %>
            <% qstr = "q" + i.to_s %>
            </li>
          <% end %>
        </div>
        </div>
        <div id="footer">
        </div>
      </div>
    </div>
  </body>
  </html>
