<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator</title>
    <link rel="stylesheet" type="text/css" href="/obscure-audio.css" />
  </head>
  <body>
		<div id="content">
			<div id="sidebar">
				<div id="logo">
				</div>
				<div id="inputs">
          <form method="GET" action="/poll">
					<label>Enter your poll ID <br /> to take a poll:</label>
					<input type="text" name="poll">
					<input type="submit" class="subbtn">
					</form>
					<br />
					<form method="GET" action="/results">
					<label>Enter your poll ID <br /> view poll results:</label>
					<input type="text" name="poll">
					<input type="submit" class="subbtn">
					</form>
				</div>
			</div>
			<div id="main">
				<div id="mainh">
					<p>Create and share your own polls for free</p>
					<div id="createtab">
						<p>Take a poll</p>
					</div>
				</div>
				<div id="mainc">
   	<div id="takepoll" class="rc" style="background-color:<%= @pollhash["colorb"] %>; color:<%= @pollhash["colort"] %>; border-color:<%= @pollhash["colord"] %>">
    <h2><%= @pollhash["topic"] %></h2>
    <form method="POST">
    <ol>
    <% i = 1 %>
    <% qstr = "q" + i.to_s %>
    <% while @pollhash[qstr] %>
      <li><%= @pollhash[qstr] %></li>
      <% j = 1 %>
      <% astr = qstr + "a" + j.to_s %>
      <% while @pollhash[astr] %>
        <p><input type="radio" name="<%= qstr %>" value="<%= astr %>"><%= @pollhash[astr] %></p>
        <% j += 1 %>
        <% astr = qstr + "a" + j.to_s %>
      <% end %>
      <% i += 1 %>
      <% qstr = "q" + i.to_s %>
    <% end %>
    </ol>
    <input type="submit" value="Submit" />
    </form>
    </div>
				</div>
				<div id="footer">
				</div>
			</div>
		</div>
	</body>
	</html>
